* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #f6d365, #fda085);
  color: #fff;
  font-family: poppins, sans-serif;
  min-height: 100vh;
}
header {
  font-size: 1.5rem;
}
header,
form {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input,
form button {
  padding: 0.5em;
  font-size: 2rem;
  border: none;
  background: white;
  outline: none;
}
form button {
  background: white;
  color: #fda085;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #fda085;
  color: white;
}
