* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url(./img/pic3.jpg);
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  transition: 0.4s ease;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: -1;
}

.slider-container {
  box-shadow: 0 3px 6px rgb(0, 0, 0, 0.16), 0 3px 6px rgb(0, 0, 0, 0.26);
  position: relative;
  height: 70vh;
  width: 70vw;
  overflow: hidden;
}
.slide {
  opacity: 0;
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: -15vh;
  left: -15vw;
  z-index: 1;
  transition: 0.4s ease;
}
.slide.active {
  opacity: 1;
}
.arrow {
  position: fixed;
  background-color: transparent;
  padding: 20px;
  font-size: 30px;
  color: #fff;
  border: 2px solid orange;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.arrow:focus {
  outline: 0;
}
.left-arrow {
  left: calc(15vw - 65px);
}
.right-arrow {
  right: calc(15vw - 65px);
}
